{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/location.css') }}" />
{% endblock %}

{% block title %}
    {% if location.name == "Nouveau terrain" %}
        {{ location.name }}
    {% else %}
        Terrain {{ location.name }}
    {% endif %}
{% endblock %}

{% block body %}
    <div id="wrapper" class="mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Emplacement des légumes</h1>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-4 offset-md-3">
                    <input id="saveNameInput" type="text" value="{{ location.name }}" placeholder="Nom du terrain" class="form-control" />
                </div>
                <div class="col-md-2">
                    <button id="saveName" type="button" class="btn btn-primary" data-location-id="{{location.id}}">Sauvegarder le nom du terrain</button>
                </div>  
            </div>    
            <div class="row">
                <div class="col-md-8">
                    <div class="location" ondragover="allowDrop(event)" ondrop="drop(event)">
                        {% for vegetable in locatedVegetables %}
                            {% if totalSurface > 0 %}
                            <div class="vegetable {{ 'vegetable-' ~ (vegetable.surface / totalSurface * 100) |number_format(0, ',', ' ') }}"
                                style="background-color: {{ vegetable.vegetable.vegetable.primaryColor }}; border: solid {{ vegetable.vegetable.vegetable.secondaryColor }} 3px;"
                            >
                                {{ (vegetable.surface / totalSurface * 100) |number_format(0, ',', ' ')}}
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="vegetables-list">
                        <ul style="list-style-type: none;">
                            {% for vegetable in allVegetables %}
                                <li class="mb-2">
                                    <span id="{{ 'vegetable-' ~ vegetable.id }}"
                                          draggable="true"
                                          ondragstart="drag(event)"
                                          data-vegetable-id="{{ vegetable.id }}"
                                          data-location-id="{{ location.id }}"
                                    >
                                        <span class="color-square" style="background-color: {{ vegetable.primaryColor }}; border: solid {{ vegetable.secondaryColor }} 3px;"></span>
                                        {{ vegetable.name }}
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="vegetable-quantity-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Quantité à planter</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>Surface plantée (ha)<input id="vegetable-surface" class="form-control" value="0" /></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="submit({{ location.id }})">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/location.js') }}"></script>
{% endblock %}
