{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/location.css') }}" />
{% endblock %}

{% block title %}
    Nouveau légume
{% endblock %}
{% block menu %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="{{ path('homepage', {'action': 'create'}) }}">Vegetables</a></li>
            <li><a href="{{ path('location') }}">Emplacement</a></li>
        </ul>
    </div>
</nav>
{% endblock %}
{% block body %}
    <div id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Emplacement des légumes</h1>
                    <h2 class="text-center">Terrain <input type="text" value="{{ location.name }}" placeholder="Nom du terrain" /></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div id="location" ondragover="allowDrop(event)" ondrop="drop(event)">

                    </div>
                </div>
                <div class="col-md-4">
                    <div id="vegetables-list">
                        <ul>
                            {% for vegetable in allVegetables %}
                            <li><span id="{{ 'vegetable-' ~ vegetable.id }}"
                                      draggable="true"
                                      ondragstart="drag(event)"
                                      data-vegetable-id="{{ vegetable.id }}"
                                      data-location-id="{{ location.id }}"
                                >{{ vegetable.name }}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="vegetable-quantity-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Quantité à planter</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>Quantité <input id="vegetable-quantity" class="form-control" value="0" /></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="submit({{ location.id }}, {{ vegetable.id }})">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/location.js') }}"></script>
{% endblock %}
