{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/objectives.css') }}" />
{% endblock %}

{% block title %}
    Vos objectifs
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Vos objectifs</h1>
                </div>
            </div>
            {% for vegetable in vegetables %}
                    <div class="row mb-4">
                        <div class="col-md-3">
                            {{ vegetable.name }}
                        </div>
                        <div class="col-md-9">
                            {% set objectiveValue = 0 %}
                            {% for objective in objectives %}
                                {% if vegetable.id == objective.vegetableId  %}
                                    {% set objectiveValue = objective.surface %}
                                {% endif %}
                            {% endfor %}
                            <div class="progress">
                                <div class="progress-bar" style="width: {{ objectiveValue }}%" role="progressbar" aria-valuenow="{{ objectiveValue }}" aria-valuemin="0" aria-valuemax="{{ vegetable.objective }}">{{ objectiveValue }}%</div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/objectives.js') }}"></script>
{% endblock %}
