{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/objectives.css') }}" />
{% endblock %}

{% block title %}
    Vos objectifs
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Vos objectifs</h1>
                </div>
            </div>
                {% set objectiveValue = 0 %}
                {% for id, year in objectives %}
                    {% if id == now %}
                        <h2>Cette année :</h2>
                    {% else %}
                        <h2>Année {{ id }} : </h2>
                    {% endif %}
                    {% for objective in year %}
                        {% for vegetable in vegetables %}
                            {% if vegetable.id == objective.vegetableId  %}
                                {% set objectiveValue = objective.surface %}
                                <div class="col-row">
                                    <div class="col-md-2">
                                        {{ vegetable.name }}
                                    </div>
                                    <div class="col-md-10">
                                        <div class="progress mb-4">
                                            <div class="progress-bar" style="width: {{ objectiveValue }}%" role="progressbar" aria-valuenow="{{ objectiveValue }}" aria-valuemin="0" aria-valuemax="{{ vegetable.objective }}">{{ objectiveValue }}%</div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/objectives.js') }}"></script>
{% endblock %}
