{% extends 'base.html.twig' %}

{% block title %}
    Nouveau légume
{% endblock %}
{% block body %}
    <div id="wrapper">
        <div class="container">
            <h1 class="text-center">Nouveau légume</h1>
            {{ form_start(vegetableForm) }}
                <div class="form-group row">
                    {{ form_label(vegetableForm.name, 'Espèce', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                    {{ form_errors(vegetableForm.name) }}
                    <div class="col-md-9">
                    {{ form_widget(vegetableForm.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            <div class="form-group row">
                {{ form_label(vegetableForm.unit, 'Unité', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                {{ form_errors(vegetableForm.unit) }}
                <div class="col-md-9">
                {{ form_widget(vegetableForm.unit, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(vegetableForm.price, 'Prix', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                {{ form_errors(vegetableForm.price) }}
                <div class="col-md-9">
                {{ form_widget(vegetableForm.price, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(vegetableForm.objective, 'Objectif de production (kg)', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                {{ form_errors(vegetableForm.objective) }}
                <div class="col-md-9">
                {{ form_widget(vegetableForm.objective, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(vegetableForm.fieldedYield, 'Rendement plein champ (/Ha)', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                {{ form_errors(vegetableForm.fieldedYield) }}
                <div class="col-md-9">
                {{ form_widget(vegetableForm.fieldedYield, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(vegetableForm.shelteredYield, 'Rendement abris (/Ha)', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                {{ form_errors(vegetableForm.shelteredYield) }}
                <div class="col-md-9">
                {{ form_widget(vegetableForm.shelteredYield, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(vegetableForm.quantity, 'Quantité à produire (kg) avec marge de sécurité (30%)', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                {{ form_errors(vegetableForm.quantity) }}
                <div class="col-md-9">
                {{ form_widget(vegetableForm.quantity, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(vegetableForm.distributionWeeks, 'Nombre de semaines de distribution', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                {{ form_errors(vegetableForm.distributionWeeks) }}
                <div class="col-md-9">
                {{ form_widget(vegetableForm.distributionWeeks, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(vegetableForm.category, 'Catégorie', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                {{ form_errors(vegetableForm.category) }}
                <div class="col-md-9">
                {{ form_widget(vegetableForm.category, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(vegetableForm.location, 'Emplacement', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                {{ form_errors(vegetableForm.location) }}
                <div class="col-md-9">
                    {{ form_widget(vegetableForm.location, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <input type="submit" value="Enregistrer légume" class="btn btn-primary float-right" />
            {{ form_end(vegetableForm) }}
            </div>
        <div class="container-fluid">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <td>Espèce</td>
                        <td>Catégorie</td>
                        <td>Emplacement</td>
                        <td>Unité</td>
                        <td>Prix</td>
                        <td>Rendement plein champ / Ha</td>
                        <td>Rendement abris / Ha</td>
                        <td>Surface nécessaire en Ha</td>
                        <td>Objectif de production en kg</td>
                        <td>Quantité à produire en kg (avec pertes de 30%)</td>
                        <td>Montant</td>
                        <td># semaines de distribution</td>
                        <td>Quantité par semaine</td>
                        <td>Edit</td>
                        <td>Delete</td>
                    </tr>
                </thead>
                <tbody>
                {% for vegetable in vegetables %}
                    <tr>
                        <td>{{ vegetable.name }}</td>
                        <td>{{ vegetable.category.name }}</td>
                        <td>{{ vegetable.location.name }}</td>
                        <td>{{ vegetable.unit }}</td>
                        <td>{{ vegetable.price |number_format(2, ',', ' ')}}</td>
                        <td>{{ vegetable.fieldedYield }}</td>
                        <td>{{ vegetable.shelteredYield }}</td>
                        <td>{{ vegetable.surfaceNeeded |number_format(2, ',', ' ') }}</td>
                        <td>{{ vegetable.objective }}</td>
                        <td>{{ vegetable.quantity }}</td>
                        <td> {{ vegetable.amount }}</td>
                        <td>{{ vegetable.distributionWeeks }}</td>
                        <td>{{ vegetable.amountPerWeek |number_format(2, ',', ' ')}}</td>
                        <td><a href="#" class="btn btn-outline-primary">
                                <img src="{{ asset('lib/open-iconic-master/svg/pencil.svg') }}" />
                            </a>
                        </td>
                        <td>
                            <a href="#" class="btn btn-outline-danger">
                                <img src="{{ asset('lib/open-iconic-master/svg/trash.svg') }}" />
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
